$DATAGRID_THEME_NAME: 'default-light';
$INOVUA_DATAGRID_ACCENT_COLOR: #1d5d90;

@import '@inovua/reactdatagrid-community/style/theme/default-light/index.scss';

.InovuaReactDataGrid--theme-default-light {
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__header {
  background-color: #fafafa;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__column-header__content, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row {
  text-align: center;
}

.InovuaReactDataGrid__column-header--show-border-left {
  border: none !important;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__column-header__content {
  font-weight: 400
}
.InovuaReactDataGrid__column-header__content .checkbox-type-a + i{
  display: none;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__cell.InovuaReactDataGrid__cell a {
  text-decoration: underline;
  white-space: normal;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row--no-zebra, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row {
  background: transparent;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__header-group__title {
  font-weight: normal;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__locked-row-cell--show-border-left, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__footer-row-cell--show-border-left, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__cell--show-border-left {
  border-left: 0;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__group-toolbar-item .InovuaReactDataGrid__sort-icon-wrapper, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__column-header__content .InovuaReactDataGrid__sort-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row .InovuaReactDataGrid__row-details > .InovuaReactDataGrid .InovuaReactDataGrid__header {
  background-color: #fffaf1;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row .InovuaReactDataGrid__row-details > .InovuaReactDataGrid {
  margin: 0;
  border: 1px solid #1d5d90
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row .InovuaReactDataGrid__row-details.InovuaReactDataGrid__row-details--details-grid {
  padding: 0 0 1px 0;
}

.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__footer-row-cell--show-border-right.InovuaReactDataGrid__footer-row-cell--last-in-section.InovuaReactDataGrid__footer-row-cell--locked-start, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__locked-row-cell--show-border-right.InovuaReactDataGrid__locked-row-cell--last-in-section.InovuaReactDataGrid__locked-row-cell--locked-start, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__cell--show-border-right.InovuaReactDataGrid__cell--last-in-section.InovuaReactDataGrid__cell--locked-start {
  background-color: #ffffff;
}

.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__footer-row-cell--direction-ltr.InovuaReactDataGrid__footer-row-cell--show-border-left.InovuaReactDataGrid__footer-row-cell--first-in-section.InovuaReactDataGrid__footer-row-cell--locked-end, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__locked-row-cell--direction-ltr.InovuaReactDataGrid__locked-row-cell--show-border-left.InovuaReactDataGrid__locked-row-cell--first-in-section.InovuaReactDataGrid__locked-row-cell--locked-end, .InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__cell--direction-ltr.InovuaReactDataGrid__cell--show-border-left.InovuaReactDataGrid__cell--first-in-section.InovuaReactDataGrid__cell--locked-end {
  background-color: #ffffff;
}

.otherGroupStyle {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}

