@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
html {
  font-size: 14px;
}
body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, button, input, textarea, pre {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: #777
}
ul,li,dd,dl,dt {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article {
  margin: 0 auto;
  width: 1580px;
}

#container {
  display: flex;
}

aside {
  position: -webkit-sticky; /* 사파리 브라우저 지원 */
  position: sticky;
  top: 0;
  align-self: flex-start;
}
button {
  border: 0;
  border-radius: 10px;
}
input::placeholder{
  color: #a2aab2;
}
input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url('../public/assets/images/common/selectcircle_off.png');
}
input[type="radio"]:checked {
  background-image: url('../public/assets/images/common/selectcircle_on.png');
}
label {
  display: flex;
  margin-right: 10px;
}
.react-datepicker__input-container input[tpye='text']{
  border: 0;
}
.sign-up article {
  width: 1320px;
}
.checkbox-type-a {
  display: none;
}
.checkbox-type-a + label {
  vertical-align: top;
}
.checkbox-type-a + label i{
  display: inline-block;
  margin: 0 8px;
  width: 14px;
  height: 20px;
  background-image: url('../public/assets/images/common/checkbox.png');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.checkbox-type-a:checked + label i{
  background-image: url('../public/assets/images/common/checkbox_on.png');
}

.checkbox-type-b {
  display: none;
}
.checkbox-type-b + label {
  vertical-align: top;
}
.checkbox-type-b + label i{
  display: inline-block;
  margin: 0 8px;
  width: 30px;
  height: 30px;
  background-image: url('../public/assets/images/common/checkbox_off_B.png');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.checkbox-type-b:checked + label i{
  background-image: url('../public/assets/images/common/checkbox_on_B.png');
}

.checkbox-type-c {
  display: none;
}

.checkbox-type-c + label {
  vertical-align: top;
}
.checkbox-type-c + label i{
  display: inline-block;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  background-image: url('../public/assets/images/common/checkbox_off_C.png');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.checkbox-type-c:checked + label i{
  background-image: url('../public/assets/images/common/checkbox_on_C.png');
}

.fadeOut {
  animation: 0.5s fadeOutAnimation;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: 0.5s fadeInAnimation;
  animation-fill-mode: forwards;
}

.icon-mode {
  padding-left: 18px !important;
  width: 60px !important;
  height: 60px !important;
  overflow: hidden;
  border-radius: 15px;
}
.list-mode {
  overflow: hidden;
}
.icon-mode > div{
  transition-duration: 0.5s;
}
.icon-mode + div {
  transition-duration: 0.5s;
  height: 0 !important;
}
.list-mode > div {
  transition-duration: 0.5s;
  margin-left: 0px;
}

.active > a {
  background-color: #956A3E;
}

.active span {
  color: #fff
}

.slide-down {
  animation: 0.5s slideDownAnimation;
  animation-fill-mode: forwards;
}

.slide-up {
  animation: 0.5s slideUpAnimation;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes slideUpAnimation {
  0% {
    height: 97px;
  }
  100% {
    height: 0;
  }
}

@keyframes slideDownAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 97px;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    height: 0;
    pointer-events: none;
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}